<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Welcome to ITT Dublin Dating</h1>
                <h2>This is an online dating service for students of ITTD.</h2>
            </hgroup>
            <p>
                We can help you connect to other students with similar interests. We can help you meet people from your home town to make you feel more at home here in Tallaght.
            </p>
            <p>
                Please get in touch if you would like to register with our service. It is free of charge and you can remain on our database meeting new people for as long as you wish.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>We suggest the following steps:</h3>
        <ol class="round">
            <li class="one">
                <h5>Getting Started</h5>
               Contact our admin to register.
            </li>

            <li class="two">
                <h5>Receive info </h5>
                Get your dates phone number sent straight to your phone.
            </li>
            <li class="three">
                <h5>Go have fun!</h5>
                Meet new friends and enjoy your social life at ITTD.
            </li>
        </ol>
    </section>
</div>
